*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
   font-family: 'PT Serif', serif;
}
body{
    background-color: #e4e8eb;
 

}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
nav li{
    padding: 20px;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}
nav ul li input{
    width: 200px;
    height: 7%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    
}
nav ul li button{
    
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #036503e4;
    color: #e4e8eb;
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
}
main{
  margin-top: 35px;
  display: flex;
 align-items: center;
 }
 .left_section{
    padding: 3%;
    margin: 6%;
   
 }
 .left_section h1{
    font-weight:300;
    color: #ff4500;
 }
 .left_section h1 span{
   font-size: x-large;
   font-weight: 900;
   color: #538cf6;
 }
 .left_section p span{
    font-weight: 800;
    color: #538cf6;
    font-size: x-large;


 }
 
.left_section p{
    font-weight: 400;
}
 
.left_section button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #036503e4;
    color: #e4e8eb;
    font-weight: 300;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 26%;
}
.right_section{
    margin-left: 5%;
    padding: 10px;
}
.right_section div img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.right_section button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #036503e4;
    color: #e4e8eb;
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
     margin-top: 5%;
     margin-left: 27%;
}
footer{
    margin-top: 30px;
    width: 100vw;
    height: 90px;
    display: flex;
   justify-content: space-evenly;
   background-color: rgba(0, 0, 0, 0.582);
    

}
.footer_section i{
    padding: 10px;

   
}
/* .footer_section p{
    margin-left: 10px;
    padding: 10px;
    text-align: center;
} */

button:hover{
    background-color: #ffffff;
    color: #000000;
    
}
.fa-brands{
    font-size: x-large;
}

